.popup__save-btn{
    display: block;
    max-width: 358px;
    width: 358px;
    height: 54px;
    margin: 0 auto;
    padding: 0;
    background: #000000;
    border: none;
    border-radius: 2px;
    margin-top: 48px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.popup__save-btn:hover{
    opacity: .8;
}
@media screen and (max-width: 595px){
    .popup__save-btn{
        max-width: 238px;
        width: 238px;
        height: 48px;
        margin-top: 45px;
    }
}