.footer{
    padding-top: 67px;
    padding-bottom: 60px;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (min-width: 596px) and (max-width: 893px){
    .footer{
        max-width: 581px;
    }
}

@media screen and (max-width: 595px){
    .footer{
        padding-top: 48px;
        padding-bottom: 36px;
        max-width: 282px;
    }
}